# 파일 - 다운로드(.ipynb 다운로드) 후 본인 작업폴더에 저장하고
# 파일 이름은 본인이름.ipynb로 수정후 작성하고 제출하세요

In [99]:
import warnings
warnings.filterwarnings('ignore')

### 1. 202302_202302_주민등록인구및세대현황_월간.csv를 가지고 와서 'data'라는 이름의 데이터 프레임으로 작성하고 5개만 확인합니다.

In [100]:
import pandas as pd

In [101]:
data = pd.read_csv('202302_202302_주민등록인구및세대현황_월간.csv', encoding='cp949')

In [102]:
data.sample(5)

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
1534,경기도 고양시 덕양구 삼송1동(4128157600),"19,599","9,122",2.15,"9,395","10,204",0.92
1012,광주광역시 동구 학운동(2911071000),"11,200","5,214",2.15,"5,281","5,919",0.89
1463,경기도 평택시 안중읍(4122025300),"43,478","19,356",2.25,"22,585","20,893",1.08
2081,강원도 화천군 화천읍(4279025000),"8,113","3,926",2.07,"4,222","3,891",1.09
2374,충청남도 서산시 인지면(4421031000),"7,141","3,381",2.11,"3,631","3,510",1.03

### 2. '행정구역'컬럼을 행정구역명과 행정기관코드로 분리하여 'data' 데이터 프레임에 '행정구역' 컬럼에 행정구역명만 저장하고 5개의 데이터만 확인합니다.

In [103]:
data['행정구역'] = data['행정구역'].str.split('(').str[0]

In [104]:
data.sample(5)

,행정구역,2023년02월_총인구수,2023년02월_세대수,2023년02월_세대당 인구,2023년02월_남자 인구수,2023년02월_여자 인구수,2023년02월_남여 비율
1012,광주광역시 동구 학운동,"11,200","5,214",2.15,"5,281","5,919",0.89
2474,충청남도 청양군 남양면,"2,617","1,510",1.73,"1,302","1,315",0.99
1842,경기도 포천시 소흘읍,"44,173","19,610",2.25,"22,531","21,642",1.04
916,인천광역시 부평구 부평3동,"12,372","6,254",1.98,"6,158","6,214",0.99
1746,경기도 이천시 창전동,"16,567","8,551",1.94,"8,375","8,192",1.02

### 3. 'data' 데이터 프레임의 컬럼명을 행정구역, 총인구수, 세대수, 세대당인구, 남자, 여자, 남녀비율 로 변경하고 'data'데이터 프레임의 정보를 확인합니다.

In [105]:
data.columns=['행정구역', '총인구수', '세대수', '세대당인구', '남자', '여자', '남녀비율']

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3872 entries, 0 to 3871
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    3872 non-null   object
 1   총인구수    3872 non-null   object
 2   세대수     3872 non-null   object
 3   세대당인구   3872 non-null   float64
 4   남자      3872 non-null   object
 5   여자      3872 non-null   object
 6   남녀비율    3872 non-null   float64
dtypes: float64(2), object(5)
memory usage: 211.9+ KB

### 4. 남녀비율 컬럼을 제거하고 'data' 데이터프레임 정보를 확인합니다.

In [107]:
data = data.drop(columns='남녀비율')

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3872 entries, 0 to 3871
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    3872 non-null   object
 1   총인구수    3872 non-null   object
 2   세대수     3872 non-null   object
 3   세대당인구   3872 non-null   float64
 4   남자      3872 non-null   object
 5   여자      3872 non-null   object
dtypes: float64(1), object(5)
memory usage: 181.6+ KB

### 5. 행정구역 컬럼의 ‘(’ ‘)’를 제거하고 시,구,동 컬럼을 만들어 분리해 넣고 세종특별자치시 지역의 값만 선택해서 'sejong' 데이터 프레임에 저장합니다.

In [109]:
data.sample(10)

                    행정구역     총인구수      세대수  세대당인구       남자       여자
1562       경기도 고양시 일산서구   289,398  116,077   2.49  140,198  149,200
1522    경기도 안산시 단원구 선부1동   17,287    8,162   2.12    8,792    8,495
3646        경상남도 밀양시 초동면    3,354    2,000   1.68    1,669    1,685
546       부산광역시 남구 용호제4동    8,015    3,734   2.15    3,848    4,167
3332       경상북도 문경시 점촌3동    8,946    4,422   2.02    4,420    4,526
1009       광주광역시 동구 지산2동    4,368    2,381   1.83    2,237    2,131
3516  경상남도 창원시 마산합포구 문화동   11,112    6,059   1.83    5,548    5,564
2667        전라북도 김제시 성덕면    1,717    1,010   1.70      864      853
73       서울특별시 광진구 중곡제1동   15,385    8,583   1.79    7,344    8,041
88        서울특별시 동대문구 제기동   24,138   13,479   1.79   12,356   11,782

In [120]:
data['시'] = data['행정구역'].str.split(' ')
# data['동'] = data['행정구역'].str.split('도 ').str[1].str.split(' ').str[1]
# data['구'] = data['행정구역'].str.split('도 ').str[1].str.split(' ').str[2]

# result = data[data['시'] == '세종특별자치시']
data.sample(20)

                   행정구역     총인구수      세대수  세대당인구       남자       여자      시
3653        경상남도 밀양시 교동    5,441    2,670   2.04    2,639    2,802   경상남도
2355       충청남도 아산시 염치읍    6,175    3,137   1.97    3,247    2,928   충청남도
1792        경기도 화성시 장안면   10,177    5,739   1.77    5,914    4,263    경기도
871     인천광역시 미추홀구 주안6동   21,578   10,143   2.13   10,762   10,816  인천광역시
2867       전라남도 나주시 산포면    3,202    1,931   1.66    1,672    1,530   전라남도
2203       충청북도 제천시 신백동   10,785    5,198   2.07    5,408    5,377   충청북도
710        대구광역시 동구 공산동   21,351    9,838   2.17   10,442   10,909  대구광역시
2888       전라남도 광양시 금호동   10,856    4,898   2.22    5,975    4,881   전라남도
1854        경기도 포천시 포천동   19,315    9,162   2.11    9,732    9,583    경기도
1445       경기도 광명시 광명4동   11,140    5,278   2.11    5,472    5,668    경기도
743           대구광역시 북구   429,014  192,326   2.23  213,150  215,864  대구광역시
2876      전라남도 나주시 빛가람동   39,198   16,560   2.37   19,410   19,788   전라남도
3028  전라남도 무안군 삼향읍남악출장소   34,890   14,486   2.41   17,227   17,663   전라남도
3249       경상북도 구미시 진미동   16,949   11,732   1.44    9,424    7,525   경상북도
3385       경상북도 청송군 안덕면    2,521    1,561   1.61    1,241    1,280   경상북도
197     서울특별시 은평구 응암제2동   27,724   11,232   2.47   13,412   14,312  서울특별시
434     서울특별시 강동구 상일제1동   39,247   13,604   2.88   19,281   19,966  서울특별시
2959  전라남도 화순군 화순읍민원출장소        0        0   0.00        0        0   전라남도
2114          충청북도 청주시   849,621  394,735   2.15  429,378  420,243   충청북도
2724       전라북도 임실군 성수면    1,592      945   1.68      828      764   전라북도

### 6. 'sejong' 데이터 프레임에 NAN 값이 있다면 해당 행을 제거하고, 기존 인덱스 값은 제거하고 새로 인덱스를 부여하고 내용을 확인합니다.

In [111]:
data.sample(20)

                    행정구역     총인구수      세대수  세대당인구       남자       여자      시
1814        경기도 광주시 곤지암읍   22,681   11,480   1.98   12,146   10,535    NaN
1866         경기도 여주시 여흥동   21,435   10,366   2.07   10,726   10,709    NaN
3758        경상남도 하동군 하동읍    9,535    4,877   1.96    4,692    4,843    NaN
3519  경상남도 창원시 마산합포구 자산동    9,958    4,722   2.11    4,884    5,074    자산동
1604        경기도 남양주시 금곡동   18,017    8,950   2.01    9,236    8,781    NaN
2908       전라남도 곡성군 목사동면    1,330      854   1.56      678      652    NaN
3551           경상남도 진주시   343,167  159,148   2.16  169,591  173,576    NaN
2877           전라남도 광양시   152,144   69,046   2.20   79,543   72,601    NaN
2648        전라북도 남원시 아영면    1,850    1,041   1.78      921      929    NaN
3195      경상북도 김천시 평화남산동    7,271    4,238   1.72    3,551    3,720    NaN
1341     경기도 성남시 수정구 복정동   10,712    6,749   1.59    6,015    4,697    복정동
2163        충청북도 충주시 주덕읍    4,770    2,659   1.79    2,466    2,304    NaN
2259        충청북도 괴산군 청천면    5,177    3,147   1.65    2,682    2,495    NaN
752        대구광역시 북구 산격4동    8,141    4,491   1.81    4,282    3,859   산격4동
3854       제주특별자치도 서귀포시   184,477   88,822   2.08   92,875   91,602    NaN
3492     경상남도 창원시 의창구 동읍   19,271    9,134   2.11    9,863    9,408     동읍
434      서울특별시 강동구 상일제1동   39,247   13,604   2.88   19,281   19,966  상일제1동
382        서울특별시 강남구 신사동   15,623    6,861   2.28    7,261    8,362    신사동
1641        경기도 군포시 산본2동   25,885    9,885   2.62   12,499   13,386    NaN
1142       대전광역시 서구 도마2동   16,920    8,279   2.04    8,478    8,442   도마2동

### 7. 총인구수, 남자, 여자 컬럼의 데이타 타입을 정수형으로 변경하고 변경내용을 확인합니다.

### 8. 읍면동별로 세종 인구를 차트로 표시합니다.(인구순 5개만)

### 9. Choropleth, geojson 등을 이용하여 세종특별자치시의 동별 인구수를 색상별로 지도에 나타내시오