In [21]:
import pandas as pd

df = pd.read_csv('boston_house_prices.csv')
df.columns=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
df = df.drop(0).reset_index(drop=True)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.9,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21,391.99,9.67,22.4
502,0.04527,0,11.93,0,0.573,6.12,76.7,2.2875,1,273,21,396.9,9.08,20.6
503,0.06076,0,11.93,0,0.573,6.976,91,2.1675,1,273,21,396.9,5.64,23.9
504,0.10959,0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21,393.45,6.48,22
505,0.04741,0,11.93,0,0.573,6.03,80.8,2.505,1,273,21,396.9,7.88,11.9

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   506          507 non-null    object
 1   13           507 non-null    object
 2   Unnamed: 2   507 non-null    object
 3   Unnamed: 3   507 non-null    object
 4   Unnamed: 4   507 non-null    object
 5   Unnamed: 5   507 non-null    object
 6   Unnamed: 6   507 non-null    object
 7   Unnamed: 7   507 non-null    object
 8   Unnamed: 8   507 non-null    object
 9   Unnamed: 9   507 non-null    object
 10  Unnamed: 10  507 non-null    object
 11  Unnamed: 11  507 non-null    object
 12  Unnamed: 12  507 non-null    object
 13  Unnamed: 13  507 non-null    object
dtypes: object(14)
memory usage: 55.6+ KB